:root{
--text: hsl(210, 39%, 93%);
--background: hsl(213, 41%, 5%);
--elevated_background: hsl(196, 36%, 16%);
--primary: hsl(239, 77%, 72%);
--secondary: hsl(280, 76%, 65%);
--accent: hsl(329, 87%, 59%);
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: var(--background);
}

.mainGrid{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
}

main{
    grid-column: 2/3;
}

header{
    display: flex;
    justify-content: center;
    background-color: var(--primary); /* Initial background color */
    transition: background-color 0.5s ease; /* Transition effect */
}

header h1 a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text);
    text-decoration: none;
}

header:hover{
    background-color: lightcoral;
}

nav{
    background-color: var(--elevated_background);
    color: var(--text);
    text-align: center;
}

footer{
    display: flex;
    flex-flow: column;
    color: var(--text);
    align-items: center;
}

header h1{
    color: var(--text);
}

nav ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: var(--text);
  }

nav a:hover{
    color: var(--text);
    background-color: var(--accent);
}

h1{
    color:var(--primary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    color: var(--accent);
}

h3, h4, h5{
    color: var(--secondary);
}

p, div{
    color: var(--text);
}

a{
    color: var(--secondary);
}

button{
    height: 2em;
    width: 7em;
    border-radius: 10px;
}

select, input{
    color: var(--text);
    background-color: var(--elevated_background);
    border-radius: 0.1em;
    width: 10em;
    height: 2em;
    text-align: center;
}

label{
    margin-right: 1em;
}

abbr:hover{
    color: lightcoral;
}

@media all and (max-width: 1000px){
    nav ul{
        justify-content: space-evenly;
    }
}

@media all and (max-width: 600px){
    nav ul{
        flex-flow: column;
    }
}

#inhaltsverzeichnis{
    list-style: none;
}

#inhaltsverzeichnis ul{
    display: flex;
    flex-wrap: row wrap;
    list-style: none;
}

#inhaltsverzeichnis ul ul{
    display: flex;
    flex-wrap: row wrap;
    list-style: none;
}

#_2dGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 8em);
    gap: 1em;
}

#_3dGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 8em);
    gap: 1em;
}


.eq_Title, .eq_Equation, .eq_Image {
    display: flex; 
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    box-sizing: border-box;
    height: 100%;
    width: 100%; 
    transition: background-color 0.5s ease;
}

.eq_Title:hover, .eq_Equation:hover, .eq_Image:hover{
    background-color: var(--elevated_background);
}

.eq_Title{
    grid-column: 1/2;
}

.eq_Equation{
    grid-column: 2/3;
}

.eq_Image{
    grid-column: 3/4;
}

#select-container{
    display: flex;
    margin-right: 0.5em;
    margin: 1em 0;
}


#input-container{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#result-container{
    display: flex;
    margin: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Nur das Example Grid styling*/
.gridExample{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;

}

.FirstName, .LastName, .Adress, .Box1, .Box2, .Box3, .Department, .BottomStuff{
    padding: 2em;
    border: 1px solid white;
}

.FirstName, .LastName, .Adress{
    grid-column: 1 / 2;
}

.FirstName, .Box1{
    grid-row: 1/2;
}

.LastName, .Box2{
    grid-row: 2/3;
}

.Adress, .Box3{
    grid-row: 3/4;
}

.Box1, .Box2, .Box3{
    grid-column: 2 / 3;
}

.Department{
    grid-column: 3 / -1;
    grid-row: 1/4;
}

.BottomStuff{
    grid-column: 2/-1;
    grid-row: 4/-1;
}
