:root{
--text: hsl(210, 39%, 93%);
--background: hsl(210, 39%, 7%);
--elevated_background: hsl(196, 36%, 16%);
--primary: hsl(239, 77%, 72%);
--secondary: hsl(280, 76%, 65%);
--accent: hsl(329, 87%, 59%);
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: var(--background);
}

nav{
    background-color: var(--elevated_background);
    color: var(--text);
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
    background-color: var(--primary);
}

header h1{
    color: var(--text);
}

.navBar ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.navBar ul li a{
    text-decoration: none;
}

.navBar ul li a:hover{
    color: var(--text);
    background-color: var(--accent);
}

h1{
    color:var(--primary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    color: var(--secondary);
}

h3{
    color: var(--secondary);
}

h4{
    color: var(--secondary);
}

p{
    color: var(--text);
}

a{
    color: var(--secondary);
}

table{
    color: var(--text);
}

abbr:hover{
    color: lightcoral;
}

#last_updated_time{
    color: var(--text);
    text-align: right;
}